
<div class="row">
	<div class="span12">
		<div class="center hero-unit">
			<h1>Shoe Polish</h1>
				<p>Shoe Polish is a dashboard web app that serves up content to start or end your day with. 
					<p>
						<%= link_to "Sign up", "#", class: "btn btn-large" %>
					</p>
				</p>
		</div>
	</div>
</div>
